div {
  position: absolute;
  width: 20px;
  height: 20px;
}
.blue {
  z-index: 50;
  background: blue;
}
.yellow {
  z-index: 20;
  background: yellow;
}
.red {
  top: 10px;
  z-index: 100;
  background: red;
}
